<div role='banner' class="header_pixel">

	<div class="menu_list"><a class="menu_item" href="/">Blog</a><a class="menu_item" href="/about">About</a></div>

	{{#if @blog.cover}}<a class="" href="{{@blog.url}}"><img class="cover_pixel" src="{{@blog.cover}}" alt="{{@blog.title}}" /></a>{{/if}}

	<h1 class="blogtitle_pixel">

		<a title="{{@blog.title}}" href='{{@blog.url}}'>

			{{{@blog.title}}}

		</a>

	</h1>

	<p class="blogdescription_pixel">

		<a title="{{@blog.title}}" href='{{@blog.url}}'>

			{{@blog.description}}

		</a>

	</p>

</div>