<!DOCTYPE html>
<html>

	<head>

		{{! Document Settings }}
		<meta http-equiv="Content-Type" content="text/html" charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		{{! Page Meta }}
		<title>{{meta_title}}</title>
		<meta name="description" content="{{meta_description}}" />
		{{! Styles }}
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css" />
		<link rel="stylesheet" type="text/css" href="/assets/css/normalize.css" />

		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,600,700,800|Exo+2:400,100,200,300,500,600,700,800' rel='stylesheet' type='text/css'>
		{{! Responsive Meta Tags }}
		<meta name="HandheldFriendly" content="True" />
		<meta name="MobileOptimized" content="320" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		{{ghost_head}}

	</head>

	<body class="{{body_class}}">

		<div class="wrapper_pixel">

			{{{body}}}

		</div>

		{{ghost_foot}}

		<script src="/assets/js/fittext.js"></script>
		<script src="/assets/js/SmoothScroll.js"></script>

		{{#if posts}}

			<script type="text/javascript">

			$(document).ready(function(){

				$('.article_pixel').each(function(){

					var image = $(this).find('.postcontent_pixel p img');

					if(image.length){

						$(this).find('.image_container a').append(image);

						$(this).find('.post_container').addClass('small');

					}

				});
			
			});

			</script>

		{{/if}}

		{{#if post}}

		<script type="text/javascript">

			$(document).ready(function(){

				if($('.postcontent_pixel p').eq(0).find('img').length){

					var source = $('.postcontent_pixel p').eq(0).find('img').attr('src');

					$('.cover_pixel').attr('src', source);

					$('.postcontent_pixel p').eq(0).remove();

				}

				$('.blogtitle_pixel a').text($('.posttitle_pixel').text());

				$('.blogdescription_pixel').remove();
				$('.posttitle_pixel').remove();

				$(".article_pixel img").load(function() {

					$(window).trigger('resize');
				  
				}).each(function() {

				  if(this.complete) $(this).load();

				});

			});


			$(document).scroll(function(){

				if($(this).scrollTop() >= 70 && $(window).width() > 500 && $(window).height() > 750){

					setTimeout(function() {$('.header_pixel').addClass('small')},1);

					$('.article_pixel').css('margin-top','300px');

					jQuery(".blogtitle_pixel a").fitText(1.5, { minFontSize: '20px', maxFontSize: '75px' });

				}else if($(this).scrollTop() <= 150){

					$('.header_pixel').removeClass('small');
					$('.article_pixel').css('margin-top','0px');

					jQuery(".blogtitle_pixel a").fitText(1.2, { minFontSize: '20px', maxFontSize: '75px' });

				}

			});

		</script>

		{{/if}}

		<script type="text/javascript">

		$(document).ready(function(){

			$(window).trigger('resize');

			$(document).trigger('scroll');

			jQuery(".blogtitle_pixel a").fitText(1.2, { minFontSize: '20px', maxFontSize: '75px' });

		});

		$(document).on('click', '.older-posts', function(e){

			e.preventDefault();

			var url = $(this).attr('href');

			$.get(url, function(data){

				$('.pagination_pixel').remove();

				$(data).find(".article_pixel , .pagination_pixel").addClass('hide').appendTo(".main_pixel.headline");

				$('.article_pixel').each(function(){

					var image = $(this).find('.postcontent_pixel p img');

					if(image.length){

						$(this).find('.image_container a').append(image);

						$(this).find('.post_container').addClass('small');

					}

				});

				setTimeout(function() {$('.article_pixel , .pagination_pixel').removeClass('hide')}, 1); 

				$(window).trigger('resize');

			});



		});

		$(window).resize(function(e){

			e.preventDefault();

			if($('.wrapper_pixel').height()<$(window).height()){

				$('.footer_pixel').css('position','absolute');

			}else{$('.footer_pixel').css('position','relative');}

			$('.cover_pixel').one('load',function(){

				var header_height = $(this).height();
				var header_width = $(this).width();
				var parent_height = 300;
				var parent_width = $(this).parent().parent().width();

				var height_complete = '-'+(header_height-parent_height)/2+'px';
				var width_complete = '-'+(header_width-parent_width)/2+'px';

				if((header_width-parent_width)/2 <= 0){width_complete = '0px';}
				if((header_height-parent_height)/2 <= 0){height_complete = '0px';}

				$(this).css('margin-top',height_complete);
				$(this).css('margin-left',width_complete);

			}).each(function() {

				if(this.complete) $(this).load();

			});

			$('.image_container img').one('load',function(){

				var header_height = $(this).height();
				var header_width = $(this).width();
				var parent_height = $(this).parent().parent().parent().outerHeight();
				var parent_width = $(this).parent().parent().width();

				var height_complete = '-'+(header_height-parent_height)/2+'px';
				var width_complete = '-'+(header_width-parent_width)/2+'px';

				if((header_width-parent_width)/2 <= 0){width_complete = '0px';}
				if((header_height-parent_height)/2 <= 0){height_complete = '0px';}

				$(this).css('margin-top',height_complete);
				$(this).css('margin-left',width_complete);

			}).each(function() {

				if(this.complete) $(this).load();

			});

			$('.postfooter_pixel address').css('height',$('.authorbio_pixel').outerHeight());
			$('.sharepost_pixel').css('height',$('.authorbio_pixel').outerHeight());

		});

		</script>

	</body>
	

</html>